/* General Styles */
.Geral {
    display: flex; /* Make the container a flexbox */
    justify-content: space-between; /* Distribute content horizontally with space in between */
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    border: solid black 1px;
    border-radius: 25%;
  }
  
  /* Images */
  img {
    width: 100px;
    height: 100px;
  }
  
  /* Divs for homem, mulher, and resultado */
  .Homem,
  .Mulher,
  .Resultado {
    display: flex;
    flex-direction: column; /* Stack content vertically within each div */
    align-items: center;
    margin: 10px;
  }
  
  /* Container for buttons and result within each section */
  .ContainerButton {
    margin: 5px; /* Adjust margin as needed */
  }
  
  /* Sub-container for buttons */
  .SubButton {
    display: flex;
  }
  
  /* Buttons */
  .BotaoAdd,
  .BotaoLess {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .BotaoAdd {
    margin-right: 5px;
  }
  
  .BotaoLess[disabled] {
    opacity: 0.5;
    cursor: default;
  }
  
  /* Result display */
  .ResultadoUnico {
    font-size: 24px;
    font-weight: bold;
  }
  